{
    "path_utils_location": "/home/opc/server_auto_utils",
    "service_account_json_name": "service_account.json",
    "routine_shutdown_delay_seconds": 900,
    "force_shutdown_delay_seconds": 3,
    "reboot_temp_file": ".routine_reboot",
    "instances": {
        "minecraft": {
            "tmux_session_name": "minecraft",
            "path_server_folder": "/home/opc/minecraft/server",
            "startup_command": "/usr/lib/jvm/java-21-openjdk/bin/java -Xmx8G -jar fabric-server-launch.jar nogui",
            "shutdown_commands": {
                "timed_warn": "/say Server will shutdown in {0}m{1}s.",
                "timed_imminent": "/say Server will now shutdown!",
                "execute": "/stop"
            },
            "backup": {
                "do": true,
                "path_folder_to_backup": "/home/opc/minecraft/server/world",
                "SECRET_target_backup_folder_gdrive_id": "_________________________________",
                "target_backup_folder_local_path": "/home/opc/backups/minecraft/server",
                "arc_name_template": "world_{timestamp}.zip",
                "backup_count": 5,
                "backup_compression_level": 9
            }
        },
        "terraria": {
            "tmux_session_name": "terraria",
            "path_server_folder": "/home/opc/terraria/world_name",
            "startup_command": "mono --server --gc=sgen -O=all ./TerrariaServer.exe -config serverconfig.txt",
            "shutdown_commands": {
                "timed_warn": "say Server will shutdown in {0}m{1}s.",
                "timed_imminent": "say Server will now shutdown!",
                "execute": "exit"
            },
            "backup": {
                "do": true,
                "path_folder_to_backup": "/home/opc/terraria/world_name/world",
                "SECRET_target_backup_folder_gdrive_id": "_________________________________",
                "target_backup_folder_local_path": "/home/opc/backups/terraria/world_name",
                "arc_name_template": "world_{timestamp}.zip",
                "backup_count": 5,
                "backup_compression_level": 9
            }
        },
        "hytale": {
            "tmux_session_name": "hytale",
            "path_server_folder": "/home/opc/hytale/world_name/Server",
            "startup_command": "/usr/lib/jvm/java-25-openjdk/bin/java -Xmx4G -jar HytaleServer.jar -assets ../Assets.zip",
            "shutdown_commands": {
                "timed_warn": "",
                "timed_imminent": "",
                "execute": "/stop"
            },
            "backup": {
                "do": true,
                "path_folder_to_backup": "/home/opc/hytale/world_name/Server/universe",
                "SECRET_target_backup_folder_gdrive_id": "_________________________________",
                "target_backup_folder_local_path": "/home/opc/backups/hytale/world_name",
                "arc_name_template": "universe_{timestamp}.zip",
                "backup_count": 5,
                "backup_compression_level": 9
            }
        }
    }
}
