# crontab -e
SHELL=/bin/bash
MAILTO=root@example.com
PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin

# For details see man 4 crontabs
# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name  command to be execute

# Warn users of shutdown
55 03 * * * /home/opc/warn.sh

# Run routine 4am minecraft server backup script
00 04 2-31 * * /home/opc/backup_auto.sh

# Start of month reboot sequence
00 04 1 * * /home/opc/stop_manual.sh
01 04 1 * * /home/opc/backup_auto.sh
10 04 1 * * sudo reboot
15 04 1 * * /home/opc/start_manual.sh
